{% extends 'base.html' %}

{% block content %}

<h3 class=" text-werning" style="letter-spacing:2px;">Search Term - {{ keyword }}</h3>
<div class="row mb-2">
    {% if blogs %}
    {% for i in blogs %}
        <div class="col-md-6">
        <div class="card border-0" >
            <div class="card-body">
            <h3><a href="{% url 'blogs' i.slug %}" class="text-dark">{{ i.title }}</h3>
            <small class="mb-1 text-muted"> {{ post.created_at | timesince }} ago | {{ post.author }}</small>
            <p class="card-text">{{ i.short_description | truncatewords:25 }}</p>
            </div>
        </div>
        </div>
    {% endfor %}
    {% else %}
    <p>NO postos found  </p>
    {% endif %}

</div>
   

{% endblock %}